@import './variable.scss';
@import './reset.scss';

@import './style.scss';
@import './header.scss';
@import './form.scss';
@import './prize.scss';
@import './data.scss';
@import './market.scss';


@mixin heading {
    color: $color--title;
    letter-spacing: $letter-spacing;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC';
    font-style: normal;
}

h1 {
    @include heading;
    font-size: 2rem;
}

h2 {
    @include heading;
    font-size: 1.75rem;
}