.l-form {
    padding: 2.5rem 1.5rem 3.625rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;

    .b-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1.25rem;
        border: 2px solid $color--primary2;
        padding: 2.5rem 1.25rem;
        background-color: $color--title;
        max-width: 50.5rem;
        width: 100%;
        border-radius: 1rem;
        position: relative;
        box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);

        &__title {
            border: 2px solid $color--primary2;
            border-radius: 3.125rem;
            background-color: $color--title;
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: .625rem 1.25rem;
            gap: 1.25rem;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);

            &-text {
                font-size: 1.125rem;
                letter-spacing: $letter-spacing;
                font-weight: 700;
                color: $color--primary2;
                line-height: 125%;
                text-align: center;
            }

            .turtle {
                position: absolute;
                top: -18%;
                left: 83%;
                transform: matrix(0.99, 0.15, -0.14, 0.99, 0, 0);
            }
        }

        .b-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .inputError:focus-visible {
                border: 3px solid $color--danger;
                outline: none;
            }

            &__warning {
                color: $color--danger;
                font-size: .75rem;
                font-weight: 400;
                line-height: 140%;
                padding-top: .25rem;
            }

            &__title {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: .25rem;
                margin-bottom: .25rem;
                color: $color--primary1;

                .red {
                    color: $color--danger;
                }
            }

            &__text,
            &__select {
                padding: .5rem 1rem;
                border-radius: 1.25rem;
                height: 3.5625rem;
                border: 1px solid $color--primary1;
                width: 100%;
            }

            &__text:focus-visible,
            &__select:focus-visible {
                border: 3px solid #93bbf9;
                outline: none;
            }

            &__select {
                appearance: none;
                background-image: url('../img/arrow.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 50%;
                cursor: pointer;

                option {
                    color: black;
                    background-color: white;
                }
            }
        }
    }

    .success::before {
        content: url('../img/success.png');
        margin-right: 1rem;
    }

    .success {
        color: $color--primary8;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .failure::before {
        content: url('../img/error.png');
        margin-right: 1rem;
    }

    .failure {
        color: $color--primary9;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__submit {
        padding: 1.0625rem 3.71875rem;
        border-radius: 3.125rem;
        letter-spacing: $letter-spacing;
        text-transform: lowercase;
        background-color: $color--primary2;
        border-color: transparent;
        color: $color--title;
        cursor: pointer;
        position: relative;
        font-weight: 700;
        line-height: 125%;
        font-size: 1.125rem;
        box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);

        &:active {
            background-color: $color--primary7;
        }
    }
}