.layout__header {
  min-height: 634px;
  position: relative;
  background: url('../img/white-wave.svg');
  background-color: $color--primary1;
  background-position: bottom;
  background-size: cover;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 24px 8px;
    gap: 32px;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      gap: 4px;
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 20px;
      gap: 8px;
      width: 200px;
      background-color: $color--primary2;
      border: none;
      text-transform: uppercase;
      color: $color--title;
      border-radius: 50px;
      box-shadow: 0 0 20px rgba(250, 163, 163, 0.91);
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-in-out;
      z-index: 1;

      &:before {
        content: '';
        background-color: $color--primary2;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50px;
      }

      &:after {
        content: '';
        background: linear-gradient(120deg, #efdbc8, #e9c87f, #b2e1ea, #90cae5, #f5caf4, #dfc9f9);
        background-size: auto;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 10px;
        filter: blur(5px);
        opacity: 0;
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: -2;
        transition: all 0.3s ease-in-out;
        animation: move 20s linear infinite;
      }

      &:hover::after {
        opacity: 1;
      }

      & > a {
        color: $color--title;
        display: inline-block;
        font-family: 'Noto Sans TC';
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: $letter-spacing;
      }

      &:focus-visible,
      & > a:focus-visible {
        outline: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px 16px;
      gap: 24px;
      max-width: 808px;
      width: 100%;
      background-color: $color--primary3;
      border: 2px solid $color--primary2;
      border-radius: 20px;
      position: relative;

      .paddle {
        position: absolute;
        transform-origin: top left;
        animation: paddleShake 3s linear infinite;
        left: 90%;
        top: -6%;
        z-index: 1;
      }

      .sup {
        position: absolute;
        top: 0;
        left: 93%;
        transform: translate(-50%, -50%);
      }

      .paddle1 {
        position: absolute;
        top: 103%;
        left: 9%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .sup1 {
        position: absolute;
        top: 103%;
        left: 8%;
        transform: translate(-50%, -50%);
      }

      .firework {
        position: absolute;
        top: 98%;
        left: 0;
        z-index: 2;
        animation: fireworkFadeout 3s linear infinite;
      }

      .bubble1 {
        position: absolute;
        animation: bubbleMoveUp1 3s linear infinite;
      }

      .bubble2 {
        position: absolute;
        animation: bubbleMoveUp2 3s linear infinite;
      }

      .context {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-family: $font-family;
        width: 100%;

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
        }

        &__text {
          font-weight: 700;
          font-size: 18px;
          line-height: 125%;
          text-align: center;
          color: $color--primary1;
        }

        .context__list {
          list-style-type: decimal;
          list-style-position: inside;
          font-family: $font-family;
          width: 100%;

          &one {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $color--primary1;
          }

          &two {
            font-weight: 400;
            font-size: 16px;
            line-height: 180%;
            color: $color--primary1;

            .bold {
              font-weight: 900;
            }

            .underbold {
              font-weight: 900;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@keyframes paddleShake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fireworkFadeout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.6;
  }
}

@keyframes bubbleMoveUp1 {
  0% {
    top: 20%;
    left: 92%;
    opacity: 0;
    z-index: -2;
  }

  50% {
    top: 0;
    left: 92%;
    z-index: -999;
  }

  100% {
    top: -18%;
    left: 92%;
    opacity: 1;
  }
}

@keyframes bubbleMoveUp2 {
  0% {
    top: 20%;
    left: 95%;
    opacity: 0;
  }

  50% {
    top: 0;
    left: 95%;
    z-index: -999;
  }

  100% {
    top: -25%;
    left: 95%;
    opacity: 1;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
