.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: 40px 19px;
  gap: 24px;
  border-radius: 50px 50px 0 0;
  background-color: $color--primary1;

  &__title {
    max-width: 303px;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    color: $color--title;
    text-align: center;
    letter-spacing: $letter-spacing;
  }
}
