.contents__prizes {
  background-image: url('../img/sand.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 40px;
  min-height: 531px;
  width: 100%;

  .mobile {
    display: none;
  }

  .prizes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 451px;
    gap: 8px;
  }

  .row-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    height: 145px;

    .prize {
      width: 178px;
      height: 108px;
      background-color: $color--title;
      border-radius: 20px;
      box-shadow: 0 8px 0 $color--primary10;
      position: relative;

      &__cert {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);

        .cert-level {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: 16px;
          line-height: 125%;
          color: $color--title;
          text-align: center;
        }
      }

      &__amount {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px 10px;
        gap: 10px;
        position: absolute;
        left: 125px;
        top: 18px;
        background-color: #fafafa;
        border: 1px solid $color--primary5;
        border-radius: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color--primary5;
      }

      &__content {
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color--primary5;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 53.7%;
        bottom: 5.56%;
        width: 100%;
      }
    }
  }

  .row-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    height: 145px;

    .prize {
      width: 178px;
      height: 108px;
      background-color: $color--title;
      border-radius: 20px;
      box-shadow: 0 8px 0 $color--primary10;
      position: relative;

      &__cert {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        .cert-level {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: 16px;
          line-height: 125%;
          color: $color--title;
          text-align: center;
        }
      }

      &__amount {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px 10px;
        gap: 10px;
        position: absolute;
        left: 125px;
        top: 18px;
        background-color: #fafafa;
        border: 1px solid $color--primary6;
        border-radius: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color--primary6;
      }

      &__content {
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color--primary6;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 48.15%;
        bottom: 11.11%;
        width: 100%;
      }
    }
  }

  .row-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    height: 145px;

    .prize {
      width: 178px;
      height: 108px;
      background-color: $color--title;
      border-radius: 20px;
      box-shadow: 0 8px 0 $color--primary10;
      position: relative;

      &__cert {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        .cert-level {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: 16px;
          line-height: 125%;
          color: $color--title;
          text-align: center;
        }
      }

      &__amount {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px 10px;
        gap: 10px;
        position: absolute;
        left: 125px;
        top: 18px;
        background-color: #fafafa;
        border: 1px solid $color--primary6;
        border-radius: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color--primary6;
      }

      &__content {
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color--primary6;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 48.15%;
        bottom: 11.11%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .contents__prizes {
    .prizes {
    }

    .mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 16px;

      .prize-one {
        width: 178px;
        height: 108px;
        background-color: $color--title;
        border-radius: 20px;
        box-shadow: 0 8px 0 $color--primary10;
        position: relative;

        .prize {
          &__cert {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);

            .cert-level {
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 700;
              font-size: 16px;
              line-height: 125%;
              color: $color--title;
              text-align: center;
            }
          }

          &__amount {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 3px 10px;
            gap: 10px;
            position: absolute;
            left: 125px;
            top: 18px;
            background-color: #fafafa;
            border: 1px solid $color--primary5;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: $color--primary5;
          }

          &__content {
            font-weight: 700;
            font-size: 18px;
            line-height: 125%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color--primary5;
            position: absolute;
            left: 0%;
            right: 0%;
            top: 53.7%;
            bottom: 5.56%;
            width: 100%;
          }
        }
      }

      .prize-two {
        width: 178px;
        height: 108px;
        background-color: $color--title;
        border-radius: 20px;
        box-shadow: 0 8px 0 $color--primary10;
        position: relative;

        .prize {
          &__cert {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);

            .cert-level {
              position: absolute;
              top: 45%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 700;
              font-size: 16px;
              line-height: 125%;
              color: $color--title;
              text-align: center;
            }
          }

          &__amount {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 3px 10px;
            gap: 10px;
            position: absolute;
            left: 125px;
            top: 18px;
            background-color: #fafafa;
            border: 1px solid $color--primary6;
            border-radius: 50px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: $color--primary6;
          }

          &__content {
            font-weight: 700;
            font-size: 18px;
            line-height: 125%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color--primary6;
            position: absolute;
            left: 0%;
            right: 0%;
            top: 48.15%;
            bottom: 11.11%;
            width: 100%;
          }
        }
      }
    }

    .row-one,
    .row-two,
    .row-three {
      display: none;
    }
  }
}
