.layout {
  width: 100%;
  overflow: hidden;

  &__wave {
    background: url('../img/wave.svg') repeat-x;
    width: calc(100vw + 200px);
    height: 110px;
    animation: waving 3s linear infinite;
  }

  &__contents {
    margin-top: -5px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color--primary4;
  }
}

@keyframes waving {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -200px;
  }
}
