/* rwd spec */
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;

/***--- Color Setting---***/
$color--title: #FFFFFF;
$color--danger: #E06D6D;
$color--primary1: #204379;
$color--primary2: #B57556;
$color--primary3: #DAE4F1;
$color--primary4: #E2D9D3;
$color--primary5: #B3B960;
$color--primary6: #A0BCC8;
$color--primary7: #D3A995;
$color--primary8: #E6FFB1;
$color--primary9: #FFE3E3;

/***--- Color Setting---***/
$letter-spacing: .2em;