/* rwd spec */
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;

/***--- Color Setting---***/
$color--title: #ffffff;
$color--danger: #e06d6d;
$color--primary1: #204379;
$color--primary2: #b57556;
$color--primary3: #dae4f1;
$color--primary4: #e2d9d3;
$color--primary5: #b3b960;
$color--primary6: #a0bcc8;
$color--primary7: #d3a995;
$color--primary8: #e6ffb1;
$color--primary9: #ffe3e3;
$color--primary10: #edeef0;
/***--- Color Setting---***/
$letter-spacing: 0.2em;
$font-family: 'Noto Sans TC';
